

<div class="create-form">
	<h1>Add a class</h1>
	<div class="create-user-info">
        <form action="/classes/create/add" method="POST">
		<div class="create-input">
			<label for="instructor-id">User id</label>
			<input type="text" id="instructor-id" name='instructor-id' required>
		</div>

		<div class="create-input">
			<label for="instructor-first">First name</label>
			<input type="text" id="instructor-first" name='instructor-first' required>
		</div>

		<div class="create-input">
			<label for="instructor-last">Last name</label>
			<input type="text" id="instructor-last" name='instructor-last' required>
		</div>

		<div class="create-input">
			<label for="email">Email</label>
			<input type="text" id="email" name='email' required>
		</div>
	</div>
	
	<div class="create-class-info">
		<div class="create-input">
			<label for="class-code">Class code</label>
			<input type="text" id="class-code" name='class-code' required>
		</div>

		<div class="create-input">
			<label for="class-name">Class name</label>
			<input type="text" id="class-name" name='class-name' required>
		</div>

		<div class="create-input">
			<label for="description">Description</label>
			<!-- <input type="text" id="description"> -->
			<textarea id="description" name='description'></textarea required>
		</div>
	</div>

	<button type="submit" class='btn-style'>Add class</button>
    </form>	
	<div class="create-confirmation"></div>
	
</div>


