

<div class="create-form">
	<h1>Add a class</h1>
	<div class="create-user-info">
		<div class="create-input">
			<label for="instructor-id">User id</label>
			<input type="text" id="instructor-id">
		</div>

		<div class="create-input">
			<label for="instructor-first">First name</label>
			<input type="text" id="instructor-first">
		</div>

		<div class="create-input">
			<label for="instructor-last">Last name</label>
			<input type="text" id="instructor-last">
		</div>

		<div class="create-input">
			<label for="email">Email</label>
			<input type="text" id="email">
		</div>
	</div>
	
	<div class="create-class-info">
		<div class="create-input">
			<label for="class-code">Class code</label>
			<input type="text" id="class-code">
		</div>

		<div class="create-input">
			<label for="class-name">Class name</label>
			<input type="text" id="class-name">
		</div>

		<div class="create-input">
			<label for="description">Description</label>
			<!-- <input type="text" id="description"> -->
			<textarea id="description"></textarea>
		</div>
	</div>

	<button type="button" method="post" class="add-class-button">Add class</button>
	
	<div class="create-confirmation"></div>
	
</div>


