
<label for="class-code">Class code</label>
<input type="text" id="class-code>


<label for="class-name">Class name</label>
<input type="text" id="class-name">

<label for="instrctor">Class name</label>
<input type="text" id="instructor">



<div id="add-note-modal" class="hidden">
  <div class="modal-dialog">

    <div class="modal-header">
      <h3>Add a ToDo</h3>
      <button type="button" class="modal-close-button">&times;</button>
    </div>

    <div class="modal-body">
      <div class="todo-input-element required">
        <label for="todo-input-what">What</label>
        <input type="text" id="todo-input-what">
      </div>
      <div class="todo-input-element">
        <label for="todo-input-where">Where</label>
        <input type="text" id="todo-input-where">
      </div>
      <div class="todo-input-element">
        <label for="todo-input-when">When</label>
        <input type="text" id="todo-input-when">
      </div>
      <div class="todo-input-element">
        <label for="todo-input-who">Who</label>
        <input type="text" id="todo-input-who">
      </div>
      <div class="todo-input-element">
        <label for="todo-input-details">Details</label>
        <textarea id="todo-input-details"></textarea>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="modal-cancel-button">Cancel</button>
      <button type="button" class="modal-accept-button">Add ToDo</button>
    </div>

  </div>
</div>
